<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li {% if section == 'post_list' %}class="nav-item active"{% endif %}>
          <a class="nav-link" href="{% url 'blog:post_list' %}">Home <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown {% if section == 'post_category' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            categories
          </a>
        {% include 'post/category.html' %}
        </li>
        {% if request.user.is_authenticated %}
        {% url 'logout' as url %}
        <li class="nav-item ml-5 {% if request.path == url %}active{% endif %}">
          <a class="nav-link" href="{% url 'logout' %}">logout <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item  ml-5 {% if request.path == url %}active{% endif %}">
          <a class="nav-link" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
        </li>
        {% url 'login' as url %}
        <li class="nav-item  {% if request.path == url %}active{% endif %}">
          <a class="nav-link" href="{% url 'login' %}">login <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>


      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
